

/*
============================== Quote styles ==============================
*/


@mixin quote {

    .quoteWrapper {
      max-width: 420px;
      margin: 10px;
    }

    .quote {
      color: #6a6a6a;
      background-color: #fff;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(225, 225, 225);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
      height: auto;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      padding:10px;

      .content {
        margin-top: -20px;
        font-size: 1.2rem;
        line-height: 1.9rem;
        padding-bottom: 30px;
      }

      img.mark {
        margin: 0 auto;
        display: block;
      }

      .triangle {
        position: absolute;
        top: 100%;
        left: 18px;
      }
    }
  }


@mixin quote--author {
  .cite {
    padding-bottom: 15px;

    p.publication {
      font-size: 1.2rem;
      color: $black;
      padding-top: 10px;
      margin-bottom: 0;
      font-weight: bold;
    }

    p.location {
      font-size: 0.8rem;
      color: $black;
      margin-top: 0;
      padding-left: 18px;
    }
  }
}

@mixin button-small-viewport{
  /* button */
  .button {
    font-family:$body--copy;
    border: 1px solid #193254;
    cursor: pointer;
    display: block;
    padding: 0px 0px 0px -20px;
    border-radius: 0px;
    color: #fff;
  }

  .yellow {
    background: url('https://d13p2xj50zkyqm.cloudfront.net/promos/LF/ALR/ALR_ReinventYourself_Compliant/ALR_ReinventYourself_Jump450_Compliant_ButtonBackground.jpg ');
    background-position: 150%;
    transition: background-color 0.6s ease;
    transition: color 0.5s ease;
  }

  .btnArrow {
    margin-top: 20px;
    margin-left: 20px;
  }
  .btnArrow1 {
    margin-top: 10px;
    margin-left: 20px;
  }
  .yellow:hover {
    background: $pink;
    color: white;
  }

  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    text-shadow: 1px 1px 1px #000;
  }

  .price {
    font-weight: 800;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    border-left: none;
    padding: 10px;
    text-align: center;
   }

}

@mixin submission{
  .inputWrapper {
    padding: 10px 0px;
    margin: 0 auto;
  }

  input {
    height: 50px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    font-size: 0.9rem;
    padding-left: 20px;
    margin: 10px 0;
  }

  .submit {
    color: #FFF;
    font-weight: bold;
    background-color: $pink;
    margin: 10px 0;
    height: 50px;
    width: 100%;
    border-radius: 0;
    display: block;
    float: right;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    font-size: 1rem;
    border: 3px solid #a952a2;

    &:hover {
      background-color: $yellow;
      color: $black;
      border: 3px solid $pink;
    }
  }
}
